<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{siteName}}</title>
		<meta name="description" content="{{description}}">
		<link href="{{rootURL}}/media/gdt.css" rel="stylesheet">
		<link rel="alternate" type="application/rss+xml" title="RSS feed for {{siteName}}" href="{{url}}rss.xml">
		<link rel="icon" href="{{rootURL}}favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700" rel="stylesheet">
	</head>
	<body>

		<div id="header">
			<h1><a href="/">{{siteName}}</a></h1>
			<p>Shiny articles and videos about game development, curated by obsessive game developer <a href="https://twitter.com/richtaur">Matt Hackett</a>.</p>
		</div>

		<div id="contents">
