<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<meta name="description" content="{{description}}">
		<link href="./media/bogd.css" rel="stylesheet">
	</head>
	<body>

		<h1>{{title}}</h1>
		<p>The best articles and videos about game development, curated by obsessive indie game developer and podcaster <a href="https://twitter.com/richtaur">Matt Hackett</a>.</p>

		{{#each this.posts}}

		<hr>
		<div>
			<img alt="{{title}}" src="./media/posts/{{this.image}}">
			<h3><a href="{{this.path}}">{{this.title}}</a></h3>
			<p>{{this.date}}</p>

			<ul>
			{{#each this.tags}}
				<li>{{this}}</li>
			{{/each}}
			</ul>

			<p>
				originally published {{this.contentDate}}
				by {{this.contentAuthor}}
			</p>

			<ul>
			{{#each this.contentURLs}}
				<li><a href="{{this}}">{{this}}</a></li>
			{{/each}}
			</ul>

		</div>

		{{/each}}

	</body>
</html>
