{{> header}}

{{#each this.posts}}

	<div class="post">
		<a href="{{this.contentURLs.[0]}}">
			<img alt="{{this.title}}" src="./media/posts/{{this.image}}">
		</a>
		<h2><a href="{{this.contentURLs.[0]}}">{{this.title}}</a></h2>
		<p class="date">
			Added <a href="{{this.path}}">{{formatDate this.date}}</a>
		</p>

		<div class="post-contents">
			{{{contents}}}
		</div>

		<!--
		<ul class="tags">
		{{#each this.tags}}
			<li>{{this}}</li>
		{{/each}}
		</ul>
		-->

		<p class="urls-header">
			by <strong>{{this.contentAuthor}}</strong>
			on {{formatDate this.contentDate}}:
		</p>

		<ul class="urls">
		{{#each this.contentURLs}}
			<li><a href="{{this}}">{{extractDomain this}}</a></li>
		{{/each}}
		</ul>

	</div>

{{/each}}

{{> footer}}
