{{> header}}

<h2>{{title}}</h2>
<p class="date subtitle">Added {{formatDate date}}</p>

<div class="post">
	<a href="{{this.contentURLs.[0]}}">
		<img alt="{{title}}" src="../../media/posts/{{this.image}}">
	</a>

	<div id="post-contents">
		{{{contents}}}
	</div>

	<!--
	<ul class="tags">
	{{#each this.tags}}
		<li>{{this}}</li>
	{{/each}}
	</ul>
	-->

	<p class="urls-header">
		Source posted {{formatDate this.contentDate}}
		by {{this.contentAuthor}}:
	</p>

	<ul class="urls">
	{{#each this.contentURLs}}
		<li><a href="{{this}}">{{extractDomain this}}</a></li>
	{{/each}}
	</ul>
</div>

<div id="nav">
	{{#if this.previous.path}}
	<p class="prev">
		<a href="../../{{this.previous.path}}">&lt; {{this.previous.title}}</a>
	</p>
	{{/if}}

	{{#if this.next.path }}
	<p class="next">
		<a href="../../{{this.next.path}}">{{this.next.title}} &gt;</a>
	</p>
	{{/if}}
</div>

{{> footer}}
