{{> header}}

<h2>{{title}}</h2>
<p class="date">Added {{formatDate date}}</p>

<div class="post">
	<a href="{{this.contentURLs.[0]}}">
		<img alt="{{title}}" src="../../media/posts/{{this.image}}">
	</a>

	{{{contents}}}

	<!--
	<ul class="tags">
	{{#each this.tags}}
		<li>{{this}}</li>
	{{/each}}
	</ul>
	-->

	<p>
		Originally published {{formatDate this.contentDate}}
		by {{this.contentAuthor}}:
	</p>

	<ul>
	{{#each this.contentURLs}}
		<li><a href="{{this}}">{{this}}</a></li>
	{{/each}}
	</ul>
</div>

{{#if this.previous.path}}
<p>
	<a href="../../{{this.previous.path}}">Previous: {{this.previous.title}}</a>
</p>
{{/if}}

{{#if this.next.path }}
<p>
	<a href="../../{{this.next.path}}">Next: {{this.next.title}}</a>
</p>
{{/if}}

{{> footer}}
