{{> header}}

<div class="post">
	<a href="{{this.contentURLs.[0]}}">
		<img alt="{{title}}" src="../../media/posts/{{this.image}}">
	</a>
	<h2><a href="{{this.contentURLs.[0]}}">{{this.title}}</a></h2>
	<p class="date">Added {{formatDate this.date}}</p>

	<div class="post-contents">
		{{{contents}}}
	</div>

	<!--
	<ul class="tags">
	{{#each this.tags}}
		<li>{{this}}</li>
	{{/each}}
	</ul>
	-->

	<p class="urls-header">
		by <strong>{{this.contentAuthor}}</strong>
		on {{formatDate this.contentDate}}:
	</p>

	<ul class="urls">
	{{#each this.contentURLs}}
		<li><a href="{{this}}">{{extractDomain this}}</a></li>
	{{/each}}
	</ul>
</div>

<div id="nav">
	{{#if this.previous.path}}
	<p class="prev">
		<a href="../../{{this.previous.path}}">&lt; {{this.previous.title}}</a>
	</p>
	{{/if}}

	{{#if this.next.path }}
	<p class="next">
		<a href="../../{{this.next.path}}">{{this.next.title}} &gt;</a>
	</p>
	{{/if}}
</div>

{{> footer}}
